<div class="datetimeRangePanelContainer" ng-controller="pxDatetimeRangePanelCtrl as ctrl" style="width:inherit;height:inherit;">
	<link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-datetime-range-panel/px-datetime-range-panel.html" rel="import" dcy-on-load load-handler="ctrl.whenPredixDateTimePanelLibraryLoaded();">
	<px-datetime-range-panel id="{{ctrl.widgetID}}" show-buttons="true"></px-datetime-range-panel>
</div>

 

